@font-face {
	font-family: 'DINProRegular';
	src: url('../fonts/DINProRegular.eot');
	src: url('../fonts/DINProRegular.eot') format('embedded-opentype'), url('../fonts/DINProRegular.woff2') format('woff2'), url('../fonts/DINProRegular.woff') format('woff'), url('../fonts/DINProRegular.ttf') format('truetype'), url('../fonts/DINProRegular.svg#DINProRegular') format('svg');
}

@font-face {
	font-family: 'DINProBold';
	src: url('../fonts/DINProBold.eot');
	src: url('../fonts/DINProBold.eot') format('embedded-opentype'), url('../fonts/DINProBold.woff2') format('woff2'), url('../fonts/DINProBold.woff') format('woff'), url('../fonts/DINProBold.ttf') format('truetype'), url('../fonts/DINProBold.svg#DINProBold') format('svg');
}

$base-font:DINProRegular,
Arial;
$base-font-bold:DINProBold,
Arial;
$color:#39393c;
$link:#127b8b;
$link-hover:#af1326;
@mixin media($media) {
	@media only screen and (max-width: $media) {
		@content;
	}
}

@mixin text-decoration {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #989b9d;
	height: 1px;
	transition: all 0.4s;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin table {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	td {
		padding: 0;
		margin: 0;
	}
}

// для ul
@mixin i-b {
	font-size: 0;
	letter-spacing: -1px;
	line-height: 0;
}

// для li
@mixin i-b-dis {
	font-size: 14px;
	letter-spacing: 0;
	line-height: 18px;
	vertical-align: top;
	display: inline-block;
}

// задавать только для ul
@mixin flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

::-webkit-input-placeholder {
	opacity: 1;
}

:-ms-input-placeholder {
	opacity: 1;
}

::-moz-placeholder {
	opacity: 1;
}

:focus::-webkit-input-placeholder {
	color: transparent
}

:focus:-ms-input-placeholder {
	color: transparent;
}

:focus::-moz-placeholder {
	color: transparent;
}

button::-moz-focus-inner {
	border: none;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	color: $color;
	position: relative;
	font: 18px $base-font;
	padding-top: 65px;
	-webkit-text-size-adjust: none;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: $link;
	&:hover {
		text-decoration: underline;
	}
	&:active,
	&:focus {
		outline: none;
	}
}

a:active {
	background-color: transparent;
}

textarea:invalid,
input:invalid {
	box-shadow: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: red;
}

body input:required:valid,
body textarea:required:valid {
	color: green;
}

.hidden {
	display: none;
}

textarea {
	font: 12px Arial, Helvetica, Verdana;
}

form {
	margin: 0;
	padding: 0;
}

img {
	border-style: none;
	height: auto;
	max-width: 100%;
}

.video embed,
.video object,
.video iframe {
	width: 100%;
	height: auto;
}

main,
header,
nav,
section,
article,
aside,
figure,
figcaption,
footer {
	display: block;
}

.slider .item:after,
.search:after,
.wrapper:after,
.clearfix:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
}

.hidden {
	display: none;
}

.pull-left {
	float: left;
	margin-right: 9px;
}

.pull-right {
	float: right;
	margin-left: 9px;
}

//для картинок wp
.alignleft {
	float: left;
	margin: 0 11px 3px 0;
}

.alignright {
	float: right;
	margin: 0 0 3px 11px;
}

.aligncenter {
	display: block;
	margin: 0 auto 22px;
}

strong,
b {
	font-family: $base-font-bold;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

.main-menu {
	background-color: #127b8b;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 98;
	nav {
		position: relative;
	}
	ul {
		margin: 0;
		padding: 0;
		display: table;
		width: 100%;
		li {
			list-style: none;
			position: relative;
			text-align: center;
			display: table-cell;
			a {
				font: 19px/65px $base-font;
				color: #fefefe;
				/*transition: .3s;*/
				padding: 0 14px 0 12px;
				display: block;
				position: relative;
				z-index: 9;
				background-color: #127b8b;
				text-transform: uppercase;
			}
			ul {
				display: block;
				width: auto;
				min-width: 100%;
				position: absolute;
				top: 100%;
				left: 0;
				background-color: #127b8b;
				visibility: hidden;
				opacity: 0;
				transition: .3s;
				/*overflow: hidden;*/
				li {
					text-align: left;
					display: block;
					a {
						font: 16px/32px $base-font;
						white-space: nowrap;
						text-transform: none;
					}
					&:last-child {
						a {
							padding-bottom: 4px;
						}
					}
				}
			}
			&.active a {
				background-color: $link-hover;
			}
			&:hover {
				a {
					background-color: $link-hover;
					text-decoration: none;
				}
				ul {
					visibility: visible;
					opacity: 1;
					li {
						a {
							color: #fefefe;
							background-color: $link;
						}
						ul {
							visibility: hidden;
							opacity: 0;
							left:100%;
							top:0;
							width: auto;
						}
						&:hover {
							a {
								background-color: $link-hover;
							}
							ul {
								opacity: 1;
								visibility: visible;
								li {
									a {
										background-color: $link;
										&:hover {
											background-color: $link-hover !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

main {
	padding-bottom: 192px;
}

footer {
	height: 215px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #39393c;
	color: #cdcdcf;
	padding-top: 40px;
	a {
		color: #fefefe;
	}
	.nav-payment {
		padding-bottom: 54px;
		nav {
			float: left;
			ul {
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					padding: 8px 5px 12px 8px;
					background: url(../images/separ.png) no-repeat left 15px;
					&:first-child {
						background: none;
						padding-left: 0;
					}
					a {
						font: 13px/18px Arial;
						text-transform: uppercase;
					}
				}
			}
		}
		.payment {
			float: right;
			ul {
				margin: 0;
				padding: 0;
			}
			li {
				list-style: none;
				display: inline-block;
				vertical-align: middle;
				padding-left: 16px;
			}
		}
	}
}

.create {
	text-align: center;
	padding-bottom: 22px;
	span {
		display: inline-block;
		padding-right: 15px;
		font: 15px/44px $base-font;
		display: inline-block;
	}
	a {
		display: inline-block;
		vertical-align: middle;
	}
}

.header-1 {
	float: left;
	padding: 42px 0 34px;
	.logo {
		padding-bottom: 42px;
		a {
			display: block;
			background: url(../images/logo-desktop.png) no-repeat;
			width: 540px;
			height: 78px;
			text-indent: -9999px;
		}
	}
	.lang {
		a {
			display: inline-block;
			height: 35px;
			font: 20px/35px Arial;
			color: #fefefe;
			text-align: center;
			border-radius: 10px;
			background-color: #ba2a23;
			transition: .3s;
			margin-right: 12px;
			padding: 0 10px;
			&:hover {
				background-color: #751d1a;
				text-decoration: none;
			}
		}
	}
}

.header-2 {
	float: right;
	width: 240px;
	padding: 30px 0 34px;
	.phones {
		text-align: right;
		padding-bottom: 14px;
		div {
			a {
				font: 24px/28px $base-font-bold;
				letter-spacing: 1px;
				color: $color;
				&:hover {
					text-decoration: none;
				}
				span {
					font-size: 31px;
					color: #b92923;
				}
			}
		}
	}
}

.callback {
	padding-bottom: 19px;
	a {
		display: block;
		font: 14px/39px Arial;
		color: #fefefe;
		background-color: #127b8b;
		border-radius: 10px;
		text-align: center;
		text-transform: uppercase;
		transition: .3s;
		height: 37px;
		&:hover {
			background-color: #af1326;
			text-decoration: none;
		}
	}
}

.social {
	ul {
		margin: 0 0 0 -16px;
		padding: 0;
		li {
			list-style: none;
			float: left;
			padding-left: 16px;
			a {
				display: block;
				color: #fefefe;
				text-align: center;
				width: 48px;
				height: 35px;
				background-color: #ba2a23;
				font-size: 25px;
				line-height: 32px;
				border-radius: 10px;
				transition: .3s;
				i {
					font-size: 25px;
					line-height: 35px;
				}
				&:hover {
					background-color: #751d1a;
				}
			}
		}
	}
}

header {
	position: relative;
	.search {
		border: 2px solid #929397;
		height: 41px;
		-webkit-box-shadow: inset 0 0 0 1px #c5c5c8;
		box-shadow: inset 0 0 0 1px #c5c5c8;
		border-radius: 9px;
		margin-bottom: 33px;
		.text {
			float: left;
			border: none;
			height: 37px;
			width: 70%;
			margin: 0;
			padding: 0 0 0 27px;
			font: 18px/31px $base-font;
			color: $color;
			background: none;
		}
		.image {
			float: right;
			margin: 7px 28px 0 0;
		}
	}
}

.slider-area {
	border-bottom: 5px solid #127b8b;
	.slider {
		position: relative;
	}
	.visual {
		float: left;
		width: 480px;
		height: 738px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.info {
		float: right;
		width: 436px;
		margin-top: -5px;
	}
	h2 {
		font: 28px $base-font-bold;
		color: #751d1a;
		margin: 0;
	}
	.subtitle {
		font: 23px $base-font;
		padding-bottom: 22px;
	}
	ul {
		margin: 0 0 32px;
		padding: 0;
	}
	li {
		list-style: none;
		min-height: 44px;
		padding-bottom: 13px;
	}
	.ico {
		display: inline-block;
		width: 56px;
		vertical-align: middle;
		line-height: 0;
	}
	.text {
		display: inline-block;
		vertical-align: middle;
		font: 18px/19px $base-font;
		width: 375px;
		strong {
			color: #ba2823;
			font: 28px $base-font-bold;
		}
	}
	.buttons {
		position: absolute;
		bottom: 80px;
		width: 436px;
		right: 0;
		a {
			float: left;
			height: 44px;
			text-align: center;
			text-transform: uppercase;
			color: #fefefe;
			font:bold 25px/44px Arial;
			background-color: #ba2a23;
			border-radius: 10px;
			transition: .3s;
			padding: 0 22px;
			&:hover {
				background-color: #751d1a;
				text-decoration: none;
			}
			&:last-child {
				float: right;
				background-color: #127b8b;
				&:hover {
					background-color: #074e58;
				}
			}
		}
	}
	.slick-dots {
		margin: 0;
		padding: 0;
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0;
		bottom: 29px;
		li {
			list-style: none;
			display: inline-block;
			padding: 0 4px;
			min-height: 1px;
			button {
				padding: 0;
				border: none;
				width: 23px;
				height: 23px;
				border: 2px solid transparent;
				background: url(../images/button-bg-1.png);
				border-radius: 50%;
				cursor: pointer;
				text-indent: -9999px;
				transition: .3s;
				&:hover {
					background: none;
					border: 2px solid #2b2a2c;
				}
			}
			&.slick-active {
				button {
					background: none;
					border: 2px solid #2b2a2c;
				}
			}
		}
	}
}

.benefits {
	padding: 62px 0 0;
	margin-bottom: 22px;
	.wrapper {
		background: url(../images/benefits-bg.png) no-repeat left bottom 32px;
	}
	h2 {
		text-align: center;
		font: 33px $base-font;
		margin: 0 0 38px;
		text-transform: uppercase;
	}
	ul {
		width: 800px;
		margin: 0 auto;
		padding: 0 0 32px 134px;
		display: table;
	}
	li {
		list-style: none;
		display: table-row;
		div {
			display: table-cell;
			vertical-align: middle;
			min-height: 58px;
			padding-bottom: 25px;
		}
	}
	.ico {
		line-height: 0;
		width: 82px;
	}
	.text {
		font: 22px/28px $base-font;
		strong {
			font-size: 24px;
		}
	}
}

.teachers {
	background: url(../images/teach-bg.png);
	color: #fff;
	padding: 72px 0 40px;
	h2 {
		text-align: center;
		font: 33px $base-font;
		text-transform: uppercase;
		margin: 0 0 58px;
	}
	ul {
		/*@include flex;*/
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		width: 200px;
		text-align: center;
		padding-bottom: 40px;
	}
	.img-box {
		width: 198px;
		height: 198px;
		margin: 0 auto 14px;
		img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}
	}
	h4 {
		font: 19px/23px $base-font-bold;
		margin: 0 0 4px;
	}
	p {
		font: 15px/19px $base-font;
		margin: 0;
	}
	.slick-arrow {
		width: 17px;
		height: 31px;
		border: none;
		position: absolute;
		top: 87px;
		padding: 0;
		text-indent: -9999px;
		cursor: pointer;
		z-index: 3;
		&.slick-prev {
			background: url(../images/arrow-prev-light.png) no-repeat;
			left: -15px;
		}
		&.slick-next {
			background: url(../images/arrow-next-light.png) no-repeat;
			right: -15px;
		}
	}
}

.find {
	padding: 72px 0 24px;
	border-bottom: 5px solid #127b8b;
	h2 {
		text-align: center;
		text-transform: uppercase;
		font: 33px $base-font;
		margin: 0 0 34px;
	}
	.contacts {
		float: left;
		width: 50%;
		padding-right: 12px;
		margin-top: -6px;
		padding-bottom: 22px;
	}
	.title {
		text-transform: uppercase;
		font: 22px $base-font;
		padding-bottom: 18px;
	}
	ul {
		margin: 0;
		padding: 0 0 18px;
	}
	li {
		list-style: none;
		padding-bottom: 17px;
		font: 19px/23px $base-font;
		span {
			color: #ba2a23;
		}
		a {
			color: $color;
		}
	}
	.map {
		float: right;
		width: 50%;
		padding-bottom: 44px;
		.map-2 {
			display: none;
		}
	}
	.button {
		padding-bottom: 18px;
		a {
			display: inline-block;
			//			width: 241px;
			height: 37px;
			text-align: center;
			color: #fefefe;
			transition: .3s;
			border-radius: 8px;
			background-color: #127b8b;
			font:bold 14px/38px Arial;
			text-transform: uppercase;
			padding: 0 32px;
			&:hover {
				background-color: #af1326;
				text-decoration: none;
			}
		}
	}
}

.partners {
	padding: 62px 0;
	h2 {
		text-align: center;
		text-transform: uppercase;
		font: 33px $base-font;
		margin: 0 0 58px;
	}
}

.carousel-wrap {
	position: relative;
	padding: 0 24px;
	.carousel {
		div {
			text-align: center;
			height: 61px;
			img {
				display: inline;
			}
		}
	}
	.slick-arrow {
		width: 17px;
		height: 31px;
		border: none;
		position: absolute;
		top: 16px;
		padding: 0;
		text-indent: -9999px;
		cursor: pointer;
		z-index: 3;
		&.slick-prev {
			background: url(../images/arrow-prev.png) no-repeat;
			left: -24px;
		}
		&.slick-next {
			background: url(../images/arrow-next.png) no-repeat;
			right: -24px;
		}
	}
}

#sandwich {
	width: 35px;
	height: 29px;
	position: absolute;
	top: 18px;
	right: 24px;
	cursor: pointer;
	display: none;
	position: absolute;
	z-index: 99;
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	div {
		-webkit-transition: 0.3s ease;
		transition: 0.3s ease;
	}
}

.sw-topper {
	position: relative;
	top: 0;
	width: 35px;
	height: 6px;
	background: #fefefe;
	border: none;
	border-radius: 4px;
	-webkit-transform-origin: top;
	transform-origin: top;
}

.sw-bottom {
	position: relative;
	width: 35px;
	height: 6px;
	top: 6px;
	background: #fefefe;
	border: none;
	border-radius: 4px;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
}

.sw-footer {
	position: relative;
	width: 35px;
	height: 6px;
	top: 11px;
	background: #fefefe;
	border: none;
	border-radius: 4px;
	-webkit-transform-origin: top;
	transform-origin: top;
}

#sandwich.active .sw-topper {
	-moz-transform: rotate(45deg) translateX(9px) translateY(7px);
	-webkit-transform: rotate(45deg) translateX(9px) translateY(7px);
	-o-transform: rotate(45deg) translateX(9px) translateY(7px);
	-ms-transform: rotate(45deg) translateX(9px) translateY(7px);
	transform: rotate(45deg) translateX(9px) translateY(7px);
}

#sandwich.active .sw-bottom {
	-moz-transform: rotate(-45deg) translateX(3px) translateY(-1px);
	-webkit-transform: rotate(-45deg) translateX(3px) translateY(-1px);
	-o-transform: rotate(-45deg) translateX(3px) translateY(-1px);
	-ms-transform: rotate(-45deg) translateX(3px) translateY(-1px);
	transform: rotate(-45deg) translateX(3px) translateY(-1px);
}

#sandwich.active .sw-footer {
	opacity: 0;
	-moz-transform: translateY(-9px);
	-webkit-transform: translateY(-9px);
	-o-transform: translateY(-9px);
	-ms-transform: translateY(-9px);
	transform: translateY(-9px);
	//transform: rotate(180deg);
}

.big-banner {
	height: 738px;
	background: url(../images/big-banner.jpg) no-repeat center top fixed;
}
.common {
	padding: 58px 0;
	&.dark {
		background-color: #127b8b;
		color:#fefefe;
	}
	&.standart-section {
		.wrapper {
			padding: 0 15px;
		}
		h2 {
			text-align: center;
			text-transform: uppercase;
			font:33px $base-font;
			margin: 0 0 46px;
		}
		p {
			font:24px/28px $base-font;
			margin: 0 0 20px;
			text-align: center;
		}
	}
}
.three-col {
	padding-bottom: 26px;
	@include flex;
	.col {
		width: 30%;
		padding-bottom: 16px;
		.img-box {
			padding-bottom: 12px;
			.blank {
				width: 100%;
			}
		}
	}
}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//