/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 979px) {
	.wrapper {
		padding: 0 15px;
	}
	#sandwich {
		display: block;
	}
	.main-menu {
		height: 65px;
	}
	.main-menu nav {
		height: 100%;
		background-color: rgba(0, 0, 0, .8);
		position: fixed;
		top:0;
		left:-100%;
		width: 100%;
		transition: .3s;
	}
	.main-menu nav.active {
		left:0;
	}
	.main-menu ul {
		display: block;
		position: absolute;
		top:50%;
		margin-top: -150px;
	}
	.main-menu ul li {
		display: block;
	}
	.main-menu ul li a {
		background: none;
		line-height: 42px;
		font-size: 26px;
		transition: .1s;
	}
	.main-menu ul li:hover a,
	.main-menu ul li:hover ul li a,
	.main-menu ul li:hover as {
		background: none;
	}
	.main-menu ul li:hover ul li a:hover,
	.main-menu ul li a:hover {
		background-color: #127b8b;
	}
	.main-menu ul li ul {
		position: static;
		background: none;
		margin: 0;
		height: 0;
	}
	.main-menu ul li:hover ul {
		visibility: visible;
		opacity: 1;
		height: auto;
	}
	.main-menu ul li ul li a {
		text-align: center;
	}
	.slider-area .visual {
		float: none;
		height: auto;
		text-align: center;
		width: 100%;
		margin-bottom: 26px;
	}
	.slider-area .visual img {
		width: auto;
		display: inline;
		max-width: 100%;
		height: auto;
	}
	.slider-area .info {
		float: none;
		margin: 0 auto;
		width: 480px;
	}
	.slider-area li {
		min-height: 64px;
	}
	.slider-area .buttons {
		position: static;
		margin: 0 auto;
		padding-bottom: 82px;
	}
	.slider-area .text {
		width: 83%;
	}
	.slider-area .text br {
		display: none;
	}
	.big-banner {
		height: 568px;
	}
	main {
		padding-bottom: 250px;
	}
	footer {
		height: 270px;
	}
	footer .nav-payment {
		padding-bottom: 34px;
	}
	footer .nav-payment nav {
		float: none;
		text-align: center;
		padding-bottom: 28px;
	}
	footer .nav-payment .payment {
		float: none;
		text-align: center;
	}
}

@media only screen and (max-width : 840px) {
	.header-1 .logo a {
		background-image: url(../images/logo-mobile.png);
		width: 246px;
	}
	.benefits .wrapper {
		background: none;
	}
	.benefits ul {
		padding:0 5% 32px;
		width: 90%;
	}
	/*.teachers ul {
		width: 580px;
		margin: 0 auto;
		padding: 0 3%;
	}*/
	.big-banner {
		height: 338px;
		background-size: 100%;
		background-attachment: scroll;
	}
}

@media only screen and (max-width : 599px) {
	.header-1 .logo {
		padding-bottom: 12px;
	}
	.header-1 {
		margin: 0 auto;
		float: none;
		width: 250px;
		padding-bottom: 0;
	}
	.header-2 {
		padding-top: 0;
		float: none;
		margin: 0 auto 44px;
	}
	.lang {
		text-align: center;
		padding-bottom: 22px;
	}
	.slider-area .info {
		width: 100%;
		max-width: 480px;
	}
	.slider-area .buttons {
		text-align: center;
		width: 100%;
	}
	.slider-area .buttons a {
		float: none !important;
		display: inline-block;
		margin: 0 12px 22px;
		font-size: 20px;
	}
	.teachers ul {
		width: 94%;
		margin: 0 auto;
		padding: 0 3%;
	}
	.teachers ul li {
		width: 180px;
	}
	.teachers .img-box {
		width: 180px;
		height: 180px;
	}
	.find .map,
	.find .contacts {
		float: none;
		width: 100%;
		padding-right: 0;
	}
	.find .contacts br {
		display: none;
	}
	.find .button {
		text-align: center;
	}
	.find .map .map-1 {
		display: none;
	}
	.find .map .map-2 {
		width: 100%;
		display: block;
	}
	.big-banner {
		height: 288px;
	}
	.three-col {
		display: block;
	}
	.three-col .col {
		width: 100%;
	}
	main {
		padding-bottom: 290px;
	}
	footer {
		height: 310px;
	}
}
@media only screen and (max-width : 479px) {
	.slider-area .text strong,
	.slider-area .text {
		width: 75%;
		font-size: 16px;
	}
	.partners h2,
	.find h2,
	.teachers h2,
	.benefits h2 {
		font-size: 28px;
		margin-bottom: 32px;
	}
	.benefits ul {
		padding: 0 0 32px;
	}
	.benefits .ico {
		width: 56px;
		vertical-align: top;
		padding-top: 12px;
	}
	.benefits ul li .text strong,
	.benefits ul li .text {
		font-size: 18px;
		line-height: 22px;
	}
	.find .title {
		text-transform: none;
	}
	/*.teachers ul {
		width: 200px;
		padding: 0;
	}
	.teachers ul li {
		width: 200px;
	}
	.teachers .img-box {
		width: 200px;
		height: 200px;
	}*/
	.find .map .map-2 {
		display: none;
	}
	.find .map .map-1 {
		display: block;
	}
	.common.standart-section h2 {
		font-size: 28px;
		margin-bottom: 20px;
	}
	.common.standart-section p {
		font-size: 18px;
		line-height: 22px;
	}
}
@media only screen and (max-width : 380px) {
	.big-banner {
		height: 180px;
	}
	main {
		padding-bottom: 350px;
	}
	footer {
		height: 370px;
	}
}
//
//
//
//
//
//
//
//
//